# ======================
# NEXT.JS
# ======================
node_modules/
.next/
out/
.env
.env.local
.env.development
.env.production

# ======================
# .NET
# ======================
appsettings.json
bin/
obj/
.vs/
*.user
*.suo

# ======================
# GENERAL
# ======================
*.log
.DS_Store
Thumbs.db
